<div class="table-wrap">
  <table>
    @if (caption()) {
      <caption>
        {{ caption() }}
      </caption>
    }
    <thead>
      <tr>
        @for (col of columns(); track col.key) {
          <th [style.width]="col.width ?? null" scope="col">
            @if (col.sortable) {
              <button
                type="button"
                class="th-sort"
                (click)="onSort(col)"
              >
                <span>{{ col.label }}</span>
                <span class="material-symbols-outlined" aria-hidden="true">{{
                  sortIndicator(col)
                }}</span>
              </button>
            } @else {
              {{ col.label }}
            }
          </th>
        }
      </tr>
    </thead>
    <tbody>
      <ng-content />
    </tbody>
  </table>
</div>
